* {
  margin: 0;
  padding: 0;
}

body{
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  background: #fdfdfd;
  /* background: url("../../../assets/141px-Om_symbol.svg") repeat; */
}

a         { color: #005ACC; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #346593; }

/* h1 { font-size: 100%; font-weight: 100; } */

.wrapper{
  display:flex;
  flex-direction: column;
  align-items: strech;
}

.header{
  padding: 10px;
  /* height: 20px; */
  background: #F3F3F3;
  border-bottom: 1px solid #000;
  /* border-top: 4px solid #e8e8e8; */
}

.header a{  color: #2E3436; text-decoration: none; }
.header a:hover   { color: #2E3436; text-decoration: underline; }

.in-container{
  max-width: 800px;
  /* border:solid; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-top: 10px;
}

.header-title{
  /* float: left; */
  padding-left: 10px;
  font-size: 40px;
  letter-spacing: -2px;
  display: inline;
  /* padding-left: 10px; */
}
.navigation{
  float: right;
  padding-top: 15px;
}
.nav-item{
  padding-left: 20px;
  padding-right: 20px;
}

.section{
  padding: 20px;
  padding-bottom: 100px;
}

.posts { list-style-type: none; }
.posts li {
  padding: 20px 10px;
  margin-bottom: 30px;
  background: #fdfdfd;
  opacity: 0.95;
  border: 3px solid #e8e8e8;
  border-radius: 20px;
  /* border: solid; */
}
.post-date {display: block;}
.post-link {font-size: 25px;}
.post-header{padding-left: 10px;}
.post-body {
  /* font-size: 25px; */
  padding-left: 10px;
  padding-top: 15px;
  line-height: 1.5;
}
.post-body > * { margin: 20px 0; }
.post-body blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}
.post-body pre, code {
  border: 1px solid #d5d5e9;
  background-color: #EEF1FF;
  padding: 8px 12px;
  border-radius: 3px;
  font-size: 15px;
  overflow:auto;
}

.post-body code {
  padding: 1px 3px;
}

.post-body pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

.post-body ul, ol { margin-left: 2em;}

.post_img {
  color: #555;
  font-size: 14px;
  text-align: center;
}

.footer{
  /* position:sticky; bottom: 10px; */
  padding: 20px;
  background: #fafafa;
  text-align: center;
  border-top: 1px solid #e8e8e8;
}

table {
  border-collapse: collapse;
  min-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
table, th, td {
  border: 1px solid black;
  padding: 1px 7px;
}




/* body {
  background-color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  color:#727272;
} */

/* .wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap{
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto; */
  /* display: flex;
  justify-content: center; */
  /* display: table;
  margin: auto; */
}

/* header {
  border-bottom: 1px solid #e8e8e8;
  background: #fdfdfd;
} */
  /* width:500px; */
  /* max-width: 1000px;
  position: fixed;
  top: 0px; */
}
/* .site-title {
  /* display: block;
  color: #333;
  font-size: 26px;
  letter-spacing: -1px;
  float: left;
  line-height: 56px;
  position: relative;
  z-index: 1; */
/* }  */
/* section {padding: 100px 10px;}

.posts { list-style-type: none; }

.posts li { margin-bottom: 10px; }

.posts .post-link {font-size: 20px;}

.posts .post-date {display: block;} */


/* footer {
  position:fixed;
  bottom:20px;
  background: #fdfdfd;
  border-top: 1px solid #e8e8e8;
} */

/* h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
} */
/*
h1, h2, h3 {line-height:1.1;}

h1 {font-size:28px;}

h2 {color:#393939;}

h3, h4, h5, h6 {color:#494949;}

a {
  color:#267CB9;
  text-decoration:none;
}

a:hover, a:focus {
  color:#069;
  font-weight: bold;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

strong {
  color:#222;
  font-weight:700;
}

small {
  font-size:11px;
} */
