* {
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.wrapper{
  display:flex;
  flex-direction: column;
  align-items: strech;
}

.header{
  padding: 20px;
  background: #fafafa;
  border-bottom: 1px solid #e8e8e8;
}
.in-container{
  max-width: 700px;
  border:solid;
  margin-left: auto;
  margin-right: auto;
  padding:30px 30px;
}
.header-title{
  display: inline;
  /* padding-left: 10px; */
}
.navigation{
  float: right;
  padding-top: 10px;
}
.nav-item{
  padding-left: 20px;
  padding-right: 20px;
}

.section{
  padding: 20px;
  padding-bottom: 300px;
}

.posts { list-style-type: none; }
.posts li { margin-bottom: 10px; }
.posts .post-date {display: block;}
.posts .post-link {font-size: 20px;}


.footer{
  /* position:sticky; bottom: 10px; */
  padding: 20px;
  background: #fafafa;
  text-align: center;
  border-top: 1px solid #e8e8e8;
}







/* body {
  background-color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  color:#727272;
} */

/* .wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap{
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto; */
  /* display: flex;
  justify-content: center; */
  /* display: table;
  margin: auto; */
}

/* header {
  border-bottom: 1px solid #e8e8e8;
  background: #fdfdfd;
} */
  /* width:500px; */
  /* max-width: 1000px;
  position: fixed;
  top: 0px; */
}
/* .site-title {
  /* display: block;
  color: #333;
  font-size: 26px;
  letter-spacing: -1px;
  float: left;
  line-height: 56px;
  position: relative;
  z-index: 1; */
/* }  */
/* section {padding: 100px 10px;}

.posts { list-style-type: none; }

.posts li { margin-bottom: 10px; }

.posts .post-link {font-size: 20px;}

.posts .post-date {display: block;} */


/* footer {
  position:fixed;
  bottom:20px;
  background: #fdfdfd;
  border-top: 1px solid #e8e8e8;
} */

/* h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
} */
/*
h1, h2, h3 {line-height:1.1;}

h1 {font-size:28px;}

h2 {color:#393939;}

h3, h4, h5, h6 {color:#494949;}

a {
  color:#267CB9;
  text-decoration:none;
}

a:hover, a:focus {
  color:#069;
  font-weight: bold;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

strong {
  color:#222;
  font-weight:700;
}

small {
  font-size:11px;
} */
