

<div class="header">

    <div class="in-container">

        <h1 class="header-title">
          <a href="{{ "/" | absolute_url }}">Jose Horas</a>
        </h1>
        <div class="navigation">

            <span class="nav-item">
              {% for page in site.pages %}
                {% if page.title %}
                  <a  href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                {% endif %}
              {% endfor %}
            </span>
            <span class="nav-item">
              <a href="../../../assets/josehorasCV_AI.pdf">Academic CV</a>
            </span>
            <span class="nav-item">
              <img src="/assets/GitHub-Mark-32px.png" alt="w" width="16" height="16" >
              <a href="{{ site.github.owner_url }}">My GitHub</a>
            </span>

        </div>

    </div>

</div>
