<header id="header">

	<a href="/">
		<!-- <img src="{{ "/img/emerald.svg" | prepend: site.baseurl | replace: '//', '/' }}" alt="Emerald Logo"> -->
	  <h1>Jose Horas</h1>
		<p>Notes on Neural Nets</p>
	</a>


	<!-- <div class="navigation">
			<span class="nav-item">
				<a href="/about/">About</a>
			</span>
			<span class="nav-item">
				<a href="../../../assets/josehorasCV_AI_pic.pdf">Professional CV</a>
			</span>
			<span class="nav-item">
				<img src="/assets/GitHub-Mark-32px.png" alt="w" width="16" height="16" >
				<a href="{{ site.github.owner_url }}">My GitHub</a>
			</span>
	</div> -->

</header>
