
<div class="header">

    <div class="in-container">

        <h1 class="header-top">
          <a href="/" >Jose Horas</a>
        </h1>
        <div class="navigation">

            <span class="nav-item">
              <a href="/about/">About</a>
            </span>
            <span class="nav-item">
              <a href="../../../assets/josehorasCV_AI_pic.pdf">Professional CV</a>
            </span>
            <span class="nav-item">
              <img src="/assets/GitHub-Mark-32px.png" alt="w" width="16" height="16" >
              <a href="{{ site.github.owner_url }}">My GitHub</a>
            </span>

        </div>

    </div>

</div>
