<footer  class="nav-footer">

	<!-- Your custom nav footer here -->
	<a href="/about/">A little about me</a>
	<a href="../../../assets/josehorasCV_AI_pic.pdf">Professional CV</a>
	<span>
		<a href="{{ site.github.owner_url }}">
			<img src="/assets/GitHub-Mark-32px.png" alt="w" width="16" height="16">
			My GitHub
		</a>
	</span>

	<span>
		<a href="https://www.linkedin.com/in/jose-horas/">
			<img src="/assets/LI-In-Bugg.png" alt="w" width="16" height="16" >
			My LinkedIn
		</a>
	</span>

</footer>
