<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134989025-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-134989025-1');
    </script>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    >
    <link href="/css/my_stylesheet.css" rel="stylesheet">
    {% seo %}
    <script async src="https://just-comments.com/w.js"></script>
  </head>

  <body>
    <div class="wrapper">
      {% include header.html %}

      <div class="section">
        <div class="in-container">
          {{ content }}
        </div>
      </div>

      {% include footer.html %}
    </div>

  </body>
</html>
